<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
		<!-- Register the Configuration section used for BotDetect Traditional API -->
		<!-- Remove this comment to register Traditional API Configuration section
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
		-->
	</configSections>
  <connectionStrings>
    <add name="ConnectionTest" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFileName=C:\USERS\V_HRI\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\KURSOVA-ALEKSANDAR\KURSOVA-ALEKSANDAR\APP_DATA\EMPLYEES.MDF;Integrated Security=True;MultipleActiveResultSets=True" />
    </connectionStrings>
    <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <httpHandlers>
			<!-- Register the HttpHandler used for BotDetect Simple API requests -->
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
			
			<!-- Register the HttpHandler used for BotDetect Traditional API requests --> 
			<!-- Remove this comment to register register Traditional API HttpHandler
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
			-->
		</httpHandlers><!-- Register a custom SessionIDManager for BotDetect Traditional API requests --><!-- Remove this comment to register Traditional API Custom SessionIDManager
		<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
		--><!-- Make sure Session State is enabled for using BotDetect Traditional API
		<pages enableSessionState="true">
		--><pages>
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls>
		</pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
			<!-- Register the HttpHandler used for BotDetect Simple API requests (IIS 7.0+) -->
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />

			<!-- Register the HttpHandler used for BotDetect Traditional API requests (IIS 7.0+) -->
			<!-- Remove this comment to register Traditional API HttpHandler
			<remove name="BotDetectCaptchaHandler"/>
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
			-->
		</handlers></system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap5" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56678/WebService1.asmx" binding="basicHttpBinding" bindingConfiguration="WebService1Soap5" contract="PIServiceReference.WebService1Soap" name="WebService1Soap5" />
    </client>
  </system.serviceModel>
<!-- Remove this comment to configure BotDetect Traditional API options
	<botDetect helpLinkEnabled="true" helpLinkMode="image" />
	--></configuration>